<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
</head>
<body>
    <h1>Войти</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <div><span>Еще нет аккаунта?
    <button><a href="{% url "register" %}">Зарегестрироваться</a></button></span></div>
    <button><a href="{% url "home" %}">вернуться на главную</a></button>
</body>
</html>
