{% extends "index.html" %}
{% load static %}
{% block content %}
<section id="genres">
    <h2>Жанры</h2>
    <p>В нашем кинотеатре вы найдете широкий выбор фильмов различных жанров. Мы рады предложить вам:</p>

    <ul>
        <li><strong>Драма</strong>: Эмоциональные истории, которые заставляют задуматься.</li>
        <li><strong>Комедия</strong>: Фильмы, которые поднимут вам настроение и заставят смеяться.</li>
        <li><strong>Экшн</strong>: Напряженные и динамичные фильмы с захватывающими сценами.</li>
        <li><strong>Фантастика</strong>: Погружение в миры, полные чудес и необычных существ.</li>
        <li><strong>Ужасы</strong>: Для любителей адреналина и страшных историй.</li>
        <li><strong>Приключения</strong>: Увлекательные путешествия и захватывающие сюжеты.</li>
        <li><strong>Мультфильмы</strong>: Анимационные фильмы для детей и всей семьи.</li>
        <li><strong>Документальные</strong>: Познавательные фильмы, которые открывают мир знаний.</li>
    </ul>

    <p>Неважно, какой жанр вам по душе, у нас есть что-то для каждого. Исследуйте наши коллекции и находите фильмы, которые вам понравятся!</p>
</section>
{% endblock %}