{% extends "index.html" %}
{% load static %}
{% block content %}
    <h1>Отчет администратора</h1>
    
    <h2>Общая прибыль: {{ total_income }} $</h2>
    
    <h3>Свободные места по фильмам:</h3>
    <ul>
        {% for movie, seats in available_seats.items %}
            <li>{{ movie }}: {{ seats }} свободных мест</li>
        {% endfor %}
    </ul>
    
    <h3>Все бронирования:</h3>
    <ul>
        {% for booking in bookings %}
            <li>{{ booking.user.username }} забронировал {{ booking.seats }} мест на "{{ booking.movie.title }}"</li>
        {% empty %}
            <li>Бронирований нет.</li>
        {% endfor %}
    </ul>
{% endblock %}
