{% load static %}
<header>
    <div class="header_menu">
        <!-- Это проверка на изменение ветки -->
            <div class="logo">
                <div class="logo-img">
                    <a href="{% url "home" %}"><img src="{% static "img/логотипы/Cinema-4D-Logo.png" %}" alt="LOGO"></a>
                </div>
                <div class="logo-text">
                <a href="{% url "home" %}">CINEMA 4D</a>
                </div>
            </div>
    
        <div class="menu">
            <lu>
                <li><a href="{% url "home" %}">ГЛАВНАЯ</a></li>
                <li><a href="#">О НАС</a></li>
                <li><a href="#">ЖАНРЫ</a></li>
                <li><a href="#">ЦЕНЫ</a></li>
            </lu>
        </div>
    
        <div class="book">
            <div class="book-call">
                <img src="{% static "img/call.png" %}" alt="call">
                <a href="#">+996 555 740 423</a>
            </div>
            
            <div class="book-button">
                <a href="#"><button>ЗАБРОНИРОВАТЬ</button></a>
            </div>
        </div>
    
        <div class="sign">
            <a href="#"><button>Войти</button></a>
        </div>
    
    </div>
    <hr class="line">
    
    </header>